$base-color: #262f3e
$dark-1: #1a1a1a
$dark-2: #000000
$light-1: #3a485f
$light-2: #4c5f80
$light-3: #6d84ab
$base-text: #7f8c8d

html
  font-family: sans-serif

body
  margin: 0
  font-size: 12px
  color: $base-text
  font-family:  "Lucida Grande", Tahoma, Verdana, Arial, sans-serif

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block

[hidden], template
  display: none

a
  color: $base-text
  background: transparent
  &:active, &:hover
    outline: 0

b, strong
  font-weight: bold

h1
  font-size: 2em
  margin: 0.67em 0

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  bottom: -0.25em

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

img
  border: 0

figure
  margin: 1em 40px

button, input, optgroup, select, textarea
  font: inherit
  margin: 0
  color: inherit

button
  overflow: visible
  text-transform: none

select
  text-transform: none

button, html input[type="button"]
  cursor: pointer
  -webkit-appearance: button

input
  &[type="reset"], &[type="submit"]
    cursor: pointer
    -webkit-appearance: button

button[disabled], html input[disabled]
  cursor: default

button::-moz-focus-inner
  border: 0
  padding: 0

input
  &::-moz-focus-inner
    border: 0
    padding: 0
  line-height: normal
  &[type="checkbox"], &[type="radio"]
    padding: 0
    box-sizing: border-box
  &[type="number"]
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
      height: auto
  &[type="search"]
    -moz-box-sizing: content-box
    box-sizing: content-box
    -webkit-appearance: textfield
    -webkit-box-sizing: content-box
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  padding: 0
  border: 0

textarea
  overflow: auto

optgroup
  font-weight: bold

table
  border-collapse: collapse
  border-spacing: 0

td, th
  padding: 0

li
  display: list-item
  list-style-type: none

ul, menu, dir 
  display: block
  list-style-type: none
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 40px

#header-nav
  min-height: 100%
  width: 50px
  z-index: 9999
  transition: 0.3s
  background: $base-color
  overflow: hidden
  position: fixed
  float: left
  display: block
  a
    color: #ffffff
    display: block
    padding: 10px
    text-decoration: none
    width: 160px
    cursor: pointer
    position: relative
    box-sizing: border-box
    font-size: 14px
    float: left
    transition-duration: 0.15s
    transition-property: all
    transition-timing-function: ease
    &:hover
      color: $light-3
      background: $dark-2
  &:hover
    width: 160px
  .logo
    width: 78px
    margin-left: 6.5px
    margin-bottom: 3px

footer
  min-width: 100%
  position: relative
  border-top: 1px solid #cfd9db
  line-height: 12px
  z-index: 5

  nav
    display: block
    height: 30px
    padding-right: 30px
    a
      display: block
      float: right
      padding: 0 15px  
      text-decoration: none
      &:hover
        color: $dark-1
        font-weight: bold

  .copyright
    display: block
    padding: 0
    margin: 0 auto 0 auto
    text-align: center
    font-size: 10px
    font-family: Arial
    color: #c0cdd1

