@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <section id="content-main" class="col-md-8">
        <header>Recent Tournaments</header>

        <div class="recent-tournaments-wrapper">
            <ul id="recent-tournaments">
                <div class="row layer1">
                    <li class="recent-tournament col-md-2 layer2"><img src="./Content/images/sample_tournament.png" alt="sample"></li>
                    <li class="recent-tournament col-md-2 layer2"><img src="./Content/images/sample_tournament.png" alt="sample"></li>
                    <li class="recent-tournament col-md-2 layer2"><img src="./Content/images/sample_tournament.png" alt="sample"></li>
                    <li class="recent-tournament col-md-2 layer2"><img src="./Content/images/sample_tournament.png" alt="sample"></li>
                    <li class="recent-tournament col-md-2 layer2"><img src="./Content/images/sample_tournament.png" alt="sample"></li>
                    <li class="recent-tournament col-md-2 layer2"><img src="./Content/images/sample_tournament.png" alt="sample"></li>
                </div>
        </div>
        </ul>
        <header>Recent Games</header>
        <div class="row recent-games layer1">
            <ul class="recent-games-list">
                <li id="recent-games-1" class="layer2 col-md-12">
                    <ul class="recent-games-team-list">
                        <li class="recent-games-team1"></li>
                        <li class="recent-games-team2"></li>
                    </ul>
                    <ul class="recent-games-player-list">
                        <li class="recent-games-top">
                            <ul class="recent-games-top-player-list">
                                <li class="recent-games-top1"></li>
                                <li class="recent-games-top2"></li>
                            </ul>
                        </li>
                        <li class="recent-games-jungle">
                            <ul class="recent-games-jungle-player-list">
                                <li class="recent-games-jungle1"></li>
                                <li class="recent-games-jungle2"></li>
                            </ul>
                        </li>
                        <li class="recent-games-mid">
                            <ul class="recent-games-mid-player-list">
                                <li class="recent-games-mid1"></li>
                                <li class="recent-games-mid2"></li>
                            </ul>
                        </li>
                        <li class="recent-games-adc">
                            <ul class="recent-games-adc-player-list">
                                <li class="recent-games-adc1"></li>
                                <li class="recent-games-adc2"></li>
                            </ul>
                        </li>
                        <li class="recent-games-support">
                            <ul class="recent-games-support-player-list">
                                <li class="recent-games-support1"></li>
                                <li class="recent-games-support2"></li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li class="recent-games-2 layer2  col-md-12">

                    <ul class="recent-games-team-list">
                        <li class="recent-games-team1"></li>
                        <li class="recent-games-team2"></li>
                    </ul>
                </li>

                <li class="recent-games-3 layer2  col-md-12">

                    <ul class="recent-games-team-list">
                        <li class="recent-games-team1"></li>
                        <li class="recent-games-team2"></li>
                    </ul>
                </li>
        </div>
        </ul>
    </section>
    <section id="content-side" class="col-md-4">
        <header>Top Teams <small>by ELO</small></header>
        <div class="top-teams layer1">
            <ul class="top-team-list">
                <li class="top-team layer2"><img src="./Content/images/sample_team.png" alt="sample"></li>
                <li class="top-team layer2"></li>
                <li class="top-team layer2"></li>
                <li class="top-team layer2"></li>
                <li class="top-team layer2"></li>
            </ul>
        </div>
        <header>Top Players <small>by ELO</small></header>
        <div class="top-players layer1">
            <ul class="top-player-list">
                <li class="top-player layer2"><img src="./Content/images/sample.png" alt="sample"></li></li>
                <li class="top-player layer2"></li>
                <li class="top-player layer2"></li>
                <li class="top-player layer2"></li>
                <li class="top-player layer2"></li>
            </ul>
        </div>
    </section>
</div>
    </div>